/*  your css code here. If applicable */
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #eee;
}

.container {
  display: flex;
  width: 90%;
  height: 80vh;
}

.panel {
  flex: 1;
  margin: 5px;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  transition: flex 0.5s;
  position: relative;
  cursor: pointer;
}

.panel img-text {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: #fff;
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.3s;
}

.panel.active {
  flex: 4;
}

.panel.active img text{
  opacity: 1;
}